<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="devExpress">
            <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
            <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
            <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
            <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
            <section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <!--  Visual Studio -->
        <add key="vs:EnableBrowserLink" value="false"/>
        <!-- Configuracion ASP.NET -->
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false"/>
        <!-- Emails -->
        <add key="MailServer:Host" value="smtp.gmail.com"/>
        <add key="MailServer:Login" value="javier@javiercanon.com"/>
        <add key="MailServer:Password" value=""/>
        <add key="MailServer:Port" value="587"/>
        <add key="MailServer:SSL.Enable" value="true"/>
        <add key="Emails:Contact" value="javier@javiercanon.com"/>
        <add key="Emails:Support" value="javier@javiercanon.com"/>
        <!-- Log -->
        <add key="Logger:Enable" value="True"/>
        <add key="Logger:User.Enable" value="True"/>
        <add key="Logger:Developer.Enable" value="True"/>
        <add key="Logger:Cache.Enable" value="True"/>
        <add key="Logger:Errors.ToText.App_Data.Enable" value="True"/>
        <!-- mode logger files = 1, db = 2 (CHANGE BUFFER AT LEAST 10 OR MORE IN PRODUCTION ENVIRONMENT!)  -->
        <add key="Logger:ToTypeMode" value="1"/>
        <add key="Logger:User.ToTypeMode" value="2"/>
        <!-- Buffer for output, if enableDeveloperLogger = true then 1 -->
        <add key="Logger:ProductionBufferSize" value="100"/>
        <add key="log4net.Internal.Debug" value="false"/>
        <!-- General APP Config -->
        <add key="Application:Demo.DemoModeEnabled" value="False"/>
        <add key="Application:Browsers.EnableBrowserValidation" value="False"/>

        <add key="Browsers:EnableBrowserValidation" value="False"/>

        <!-- Analytics -->
        <add key="Analytics:Google.Analytics.ID" value=""/>
        <!-- Security   -->
        <add key="Security:MD5.Key" value="xxx"/>
        <add key="Security:Google.Recaptcha.WebsiteKey" value="6LfpoSYTAAAAAIlaHgyVIxTaRNhwRVNQq8-8OXnf"/>
        <add key="Security:Google.Recaptcha.SecretKey" value="6LfpoSYTAAAAAI22Wi2yLWlQ4UsjTpXID_ao79yN"/> 
        
        <!-- Optimization -->
        <add key="Optimization:Bundling.Enabled" value="false"/>
        <add key="Optimization:Javascript.UseMinifiedFiles" value="false"/>
        <add key="Optimization:CSS.UseMinifiedFiles" value="false"/>       
        
        <!-- Cache 
         <add key="Cache:Pages.CacheDuration" value="360" /> -->
        <!-- Development -->
        <add key="Development:DeveloperMode.Enabled" value="false"/>
        <add key="Development:DeveloperMode.ShowGenericPagesErrors" value="False"/>
        <add key="Development:DeveloperMode.ShowGlobalPageError" value="false"/>
        <!-- Databases   -->
        <add key="Databases:UseLocalDB" value="false"/>        
        <!-- Debug -->
        <add key="Debug:User.ID" value="1"/>
        <add key="Debug:User.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA"/>
        <add key="Debug:User.Login" value="soporte@softcanon.com"/>
        <add key="Debug:User.Alias" value="ACEHART"/>
        <add key="Debug:User.Email" value="soporte@softcanon.com"/>
        <add key="Debug:User.FirstName" value="ACEHART"/>
        <add key="Debug:User.Rol.ID" value="1"/>
        <add key="Debug:User.Rol.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA"/>
        <add key="Debug:User.Rol.Name" value="ADMINISTRADOR"/>
        <add key="Debug:User.VoteCode" value="21133099538"/>
        
    </appSettings>
    <connectionStrings>
        <add name="MsSqlServer.Main" connectionString="Data Source=(local);Database=Quorum;Integrated Security=yes;User ID=javiercanon;Password=javiercanon;Max Pool Size=300;Connection Timeout=600;" providerName="System.Data.SqlClient"/>
        <add name="Development.MsSqlServer.Main" connectionString="Data Source=(local);Database=Quorum;Integrated Security=yes;User ID=javiercanon;Password=javiercanon;Max Pool Size=300;Connection Timeout=600;" providerName="System.Data.SqlClient"/>
        <!-- 
        <add name="MsSqlServer.Tests" connectionString="Data Source=(local);Database=Quorum;Integrated Security=;User ID=XXXX;Password=XXXX;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
        <add name="MsSqlServer.Log" connectionString="Data Source=(local);Database=Quorum;Integrated Security=;User ID=XXXX;Password=XXXXX;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
        <add name="MsSqlServer.Log.User" connectionString="Data Source=(local);Database=Quorum;Integrated Security=;User ID=XXXX;Password=XXXX;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
        -->
    </connectionStrings>
    
    
    
    
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="false" targetFramework="4.7.2">
            <assemblies>
                <add assembly="DevExpress.Web.Bootstrap.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
                <add assembly="DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
                <add assembly="DevExpress.Data.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
            </assemblies>
        </compilation>
        <authentication mode="None"/>
        
        <profile>
            <providers>
                <clear/>
            </providers>
        </profile>
        <roleManager enabled="false">
            <providers>
                <clear/>
            </providers>
        </roleManager>
        <httpHandlers>
            <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
            <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
        </httpHandlers>
        <httpModules>
            <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
        </httpModules>

        <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="es-MX" uiCulture="es-MX" responseHeaderEncoding="utf-8" enableBestFitResponseEncoding="false" enableClientBasedCulture="false"/>
        <trace enabled="true" localOnly="true" traceMode="SortByCategory" pageOutput="true"/>
        <caching>
            <outputCache enableOutputCache="false" enableFragmentCache="true" sendCacheControlHeader="false" omitVaryStar="false" defaultProvider="AspNetInternalProvider">
                <providers>
                    <!-- <add name="DiskOutputCache" type="DiskOutputCacheProvider"  /> -->
                </providers>
            </outputCache>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="public" duration="3600" location="Any" enabled="false" varyByCustom="username"/>
                </outputCacheProfiles>
            </outputCacheSettings>
            <sqlCacheDependency enabled="false" pollTime="60000">
                <databases>
                    <add name="northwind" connectionStringName="Northwind" pollTime="9000000"/>
                </databases>
            </sqlCacheDependency>
        </caching>
        
        <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.7.2"/>

        <!--
        <customErrors mode="Off" defaultRedirect="~/Errors/ErrorPageHttp.aspx" redirectMode="ResponseRewrite">
            <error statusCode="403" redirect="~/Errors/ErrorPageHttp403.aspx"/>
            <error statusCode="404" redirect="~/Errors/ErrorPageHttp404.aspx"/>
        </customErrors>
        -->
        <customErrors mode="Off" redirectMode="ResponseRewrite">
        </customErrors>

        <pages validateRequest="true" clientIDMode="Predictable">
            <controls>
                <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
                <add tagPrefix="dx" namespace="DevExpress.Web.Bootstrap" assembly="DevExpress.Web.Bootstrap.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
            </controls>
        </pages>
    </system.web>
    
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
        </modules>
        <handlers>
            <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
            <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>


        <!-- No Compression in localhost -->
        <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
        <httpCompression>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="application/x-javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="application/x-javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </staticTypes>
        </httpCompression>
        <staticContent>
            <!-- cache static for days: tip use control version for html pages like js and css ex. xxx-1.0.html or xxx-1.1.js -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" httpExpires="365.00:00:00"/>
            <!-- Manifiest files -->
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json"/>
            <!-- Google Maps can load server layers -->
            <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml"/>
            <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz"/>
            <!-- compressed 7zip -->
            <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed"/>
            <!-- fonts 
           <mimeMap fileExtension=".eot" mimeType="embedded-opentype" />-->
        </staticContent>
        <defaultDocument>
            <files>
                <!-- 
        <clear/>
        <add value="Default.aspx"/>
        <add value="Index.html"/>
        <add value="Default.html"/>
        <add value="Default.htm"/>
        <add value="Index.htm"/>
        <add value="iisstart.htm"/>
        -->
            </files>
        </defaultDocument>
        <!-- load in memory cache -->
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <!-- dinamyc content, can varyByHeaders or varyByQueryString, default not enabled here, can control in each page, module or subfolder 
        <add extension=".aspx" location="Any" varyByQueryString="" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <add extension=".ashx" location="Any" varyByQueryString="" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
       -->
                <!-- static content -->
                <add extension=".js" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00"/>
                <add extension=".css" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00"/>
                <add extension=".html" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00"/>
                <add extension=".htm" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00"/>
                <add extension=".xml" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00"/>
                <!-- cache images -->
                <add extension=".jpg" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00"/>
                <add extension=".jpeg" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00"/>
                <add extension=".gif" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00"/>
                <add extension=".png" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00"/>
            </profiles>
        </caching>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000"/>
            </requestFiltering>
        </security>
        
        
    </system.webServer>
    <devExpress>
        <bootstrap mode="Bootstrap4"
                   iconSet="FontAwesome"
                   allowClientObjectDeferredInitialization="true"/>
        <resources>
            <add type="ThirdParty"/>
            <add type="DevExtreme"/>
        </resources>
        <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
        <settings accessibilityCompliant="true" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
        <errors callbackErrorRedirectUrl=""/>
    </devExpress>

</configuration>